@import "utilities/variables";

.app__project-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 400px;
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow: -1px 1px 12px 5px rgba(255,142,94,1);
    -webkit-box-shadow: -1px 1px 12px 5px rgba(255,142,94,1);
-moz-box-shadow: -1px 1px 12px 5px rgba(255,142,94,1);
    .app__project-card-img{
        img{
            border-radius: 1rem;
            width: 100%;
        }
    }
    .app__project-card-text{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-self: center;
        h1{
            margin-bottom: 1rem;
        }
    }
    button {
        @include btn($--clr-light, $--clr-black);
        border: 1px solid $--clr-light;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1024px){
   .app__project-card{
    
} 
}