$--ff-inter: 'Inter', sans-serif;
$--ff-josefin: 'Josefin Sans', sans-serif;
$--ff-ShadowsIL: 'Shadows Into Light', cursive;

$--fw-extraLight: 200;
$--fw-light: 300;
$--fw-regular: 400;
$--fw-bold: 700;
$--fw-extraBold: 800;

$--clr-black: #1D1E22;
$--clr-dark: #000000;
$--clr-light: #FFFFFF;
$--clr-orange: #FF8E5E;

$--fs-h1: 3rem;
$--fs-h2: 2.25rem;
$--fs-h3: 1.25rem;
$--fs-body: 1rem;

@media (min-width: 1024px){
    $--fs-h1: 4.5rem;
    $--fs-h2: 3.75rem;
    $--fs-h3: 1.5rem;
    $--fs-body: 1.125rem;
    .section__padding {
      padding: 4rem 7rem;
    }
}

.section__padding {
      padding: 3.5rem 10rem;
    }

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.btn{
    background-color: $--clr-orange;
    font-family: $--ff-inter;
    font-weight: $--fw-bold;
    color: $--clr-dark;
    width: 215px;
    height: 59px;
    border-radius: 60px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background-color: #FFFFFF;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 0.773224;
}