$--ff-inter: "Inter", sans-serif;
$--ff-josefin: "Josefin Sans", sans-serif;
$--ff-ShadowsIL: "Shadows Into Light", cursive;

$--fw-extraLight: 200;
$--fw-light: 300;
$--fw-regular: 400;
$--fw-bold: 700;
$--fw-extraBold: 800;

$--clr-black: #1d1e22;
$--clr-dark: #19191d;
$--clr-light: #ffffff;
$--clr-orange: #ff8e5e;

$--fs-h1: 3rem;
$--fs-h2: 2.25rem;
$--fs-h3: 1.5rem;
$--fs-h4: 1rem;
$--fs-body: 1.25rem;

$--fs-h1-mobile: 2.8rem;
$--fs-h2-mobile: 2rem;
$--fs-h3-mobile: 1.3rem;
$--fs-body-mobile: 1.1rem;

.section__padding {
  padding: 2.5rem 1rem;
}
@media screen and (min-width: 400px) {
  .section__padding {
    padding: 2.5rem 2rem;
  }
}
@media screen and (min-width: 768px) {
  .section__padding {
    padding: 4rem 10rem;
  }
}
@media screen and (min-width: 1024px) {
  .section__padding {
    padding: 2rem 10rem;
  }
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

@mixin btn($color, $bg) {
  background-color: $bg;
  font-family: $--ff-inter;
  font-weight: $--fw-bold;
  color: $color;
  width: 215px;
  height: 59px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  transition: all 400ms ease;
  &:hover {
    background-color: #ffffff;
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 0.773224;
  }
}

span {
  color: $--clr-orange;
}


