@import "utilities/variables";
@import "utilities/animations";

.app__about {
    display: flex;
    flex-direction: column;
    .app__about-text{
        flex: 2;
        span{
            color: $--clr-orange;
        }
        .app__about-title{
            font-weight: $--fw-extraBold;
            font-size: $--fs-h1;
            margin-bottom: 1rem;
        }
        p{
            font-size: $--fs-body;
            font-weight: $--fw-regular;
            margin-bottom: 2rem;
            span{ 
                color: $--clr-orange;
            }
        }
    }
    .app__about-picture{
        display: flex;
        flex: 1;
        img{
            max-width: 500px;
            width: 100%;
        }
    }
}

@media screen and (min-width: 1024px){
    .app__about {
    flex-direction: row;
    }
}