@import 'utilities/variables';

.app__connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
    min-height: 100vh;
    background-color: $--clr-dark;
    h2{
        font-size: $--fs-h1;
        margin-bottom: 0.5rem;
    }
    h3{
        margin-bottom: 2rem;
        font-weight: $--fw-regular;

    }
    .app__connect-socials{
        display: flex;
        font-size: $--fs-h2;
        gap: 2rem;
    }
}

@media screen and (min-width: 768px){
    .app__connect{
        h2{
            font-size: 5rem;
        }
        a{
            font-size: 3rem;
        }
    }
}