@import "utilities/variables";
@import "utilities/animations";

.app__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .app__header-text {
    h3 {
      font-size: $--fs-h3;
      color: hsla(0, 0%, 100%, 0.5);
      margin-bottom: 1rem;
      transition-delay: 200ms;
    }
    h1 {
      font-size: $--fs-h1;
      font-weight: $--fw-extraBold;
    }
    h1:nth-child(3) {
      color: $--clr-orange;
    }
    .app__header-description {
      margin: 1rem 0;
      line-height: 25px;
      letter-spacing: 1px;
      font-weight: $--fw-bold;
    }
    .app__header-text-button {
      font-size: $--fs-h4;
      @include btn($--clr-dark, $--clr-orange);
      display: flex;
      justify-content: center;
      align-items: center;
      border: $--clr-orange 1px solid;
      &:hover {
        background: $--clr-dark;
        color: $--clr-orange;
      }
    }
  }
  .app__header-photo {
    img {
      width: 100%;
      margin-top: 2rem;
      border-radius: 2rem;
    }
  }
}
@media screen and (min-width: 768px) {
  .app__header {
    min-height: calc(100vh - 250px);
    .app__header-text {
      width: 600px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    .app__header-photo {
      display: flex;
      justify-content: center;
      align-self: center;
    }
  }
}

@media screen and (min-width: 1024px) {
  .app__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    .app__header-text {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      max-width: 1000px;
    }
    .app__header-photo {
      max-width: 500px;
      width: 100%;
    }
    .app__header-text-button {
      margin-top: 1rem;
    }
  }
}

@media screen and (min-width: 1400px) {
  .app__header {
    gap: 4rem;
    .app__header-photo {
      max-width: 550px;
      width: 100%;
    }
  }
}

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.9s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
  animation: slide-in-fwd-center 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s
    both;
}

.slide-in-fwd-center-sec {
  -webkit-animation: slide-in-fwd-center 0.9s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s
    both;
}

.slide-in-fwd-center-third {
  -webkit-animation: slide-in-fwd-center 0.9s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.8s both;
  animation: slide-in-fwd-center 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.8s
    both;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.6s both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 2.6s
    both;
}

.slide-in-bottom-sec {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    3s both;
  animation: slide-in-bottom 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3s both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s
    both;
  animation: text-focus-in 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.9s both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
