@import "utilities/variables";

.app__navbar {
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.02);
  .app__navbar-logo {
    align-self: center;
    span {
      font-family: $--ff-ShadowsIL;
      background: $--clr-light;
      color: $--clr-dark;
      padding: 0 0.5rem;
    }
  }

  .app__navbar-social {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    svg {
      align-self: center;
      font-size: $--fs-h3;
      cursor: pointer;
    }
    a {
      display: none;
    }
  }
}

@media screen and (min-width: 400px) {
  .app__navbar {
    padding: 1.5rem 4rem;
  }
}

@media screen and (min-width: 768px) {
  .app__navbar {
    padding: 1.5rem 10rem;
    .app__navbar-social {
      a {
        display: block;
        font-size: $--fs-body;
        align-self: center;
        text-decoration: none;
        color: $--clr-light;
        &:last-child {
          border-bottom: 1px solid $--clr-orange;
        }
        &:hover {
          border-bottom: 4px solid $--clr-orange;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .app__navbar {
    padding: 1.5rem 10rem;
    .app__navbar-social {
      gap: 2rem;
      svg {
        font-size: $--fs-h3;
      }
    }
  }
}
