@import "utilities/variables";

.app__navbar {
  width: 100%;
  padding: 1.5rem 10rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.02);
  .app__navbar-logo {
      align-self: center;
      span {
          
          font-family: $--ff-ShadowsIL;
          background: $--clr-light;
          color: $--clr-dark;
          padding: 0 0.5rem;
        }
    }
    
  .app__navbar-social {
      align-self: center;
    svg{
        margin-left: 0.8rem;
    }
    button{
        @include btn($--clr-light, $--clr-black);
        margin: 0 0.8rem;
        border: solid 1px $--clr-light;
      }
    button:hover{
      color: $--clr-dark;
      background: $--clr-light;
    }
    }
  }
  
  @media screen and (max-width: 768px){
    .app__navbar {
    padding: 1.5rem 2rem;
    .app__navbar-social {
      button{
        display: none;
    }
  }
}
}