@import "utilities/variables";

.app__navbar {
  width: 100%;
  padding: 2rem 10rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.02);
  .app__navbar-logo {
      
      span {
          
          font-family: $--ff-ShadowsIL;
          background: $--clr-light;
          color: $--clr-dark;
          padding: 0 0.5rem;
        }
    }
    
  .app__navbar-social {
      align-self: center;
    svg{
        margin: 0 0.8rem;
    }
    a{
        border: solid 1px $--clr-light;
        text-decoration: none;
        margin: 0 0.8rem;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        color: $--clr-light;
      }
    }
  }
  
  @media screen and (max-width: 800px){
    .app__navbar-social {
      a{
        display: none;
  }
}
}