@import "utilities/variables";

.app__footer{
    display: flex;
    background: $--clr-dark;
    padding: 3rem 10rem;
    justify-content: center;
    opacity: 0.8;
  border-top: 1px solid hsla(0, 0%, 100%, 0.02);

    a{
        color: $--clr-orange;
    }
}