@import "utilities/variables";

html, body {
  background-color: $--clr-black;
  color: $--clr-light;
  font-family: $--ff-inter;
  cursor: default;
}

a{
  font-size: $--fs-body;
  align-self: center;
  text-decoration: none;
  color: $--clr-light;
}