@import "utilities/variables";


// .section__padding {
//       padding: 3.5rem 1rem;
//     }

.app__aboutMe {
    display: flex;
    flex-direction: column;
    .app__aboutMe-text {
        h3 {
            font-size: $--fs-h3;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        h1 {
            font-size: $--fs-h1;
            font-weight: $--fw-extraBold;
        }
        h1:nth-child(3){
            color: $--clr-orange;
        }
        .app__aboutMe-description{
            margin: 1rem 0;
            line-height: 25px;
            letter-spacing: 1px;
            font-weight: $--fw-bold;
        }
        .app__aboutMe-text-button{
            margin-bottom: 0;
        }
    }
    .app__aboutMe-photo {
        img {
            margin-top: 2rem;
            border-radius: 3rem;
            width: 100%;
        }
    }
}
@media screen and (min-width: 576px){

    .app__aboutMe{
        .app__aboutMe-text{
            flex: 1;
            width: 100%;
            max-width: 480px;
            display:flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }
        .app__aboutMe-photo {
            flex: 1;
            width: 100%;
            max-width: 600px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}


@media screen and (min-width: 1024px){
    // .section__padding {
    //   padding: 3.5rem 10rem;
    // }
    .app__aboutMe{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .app__aboutMe-text{
            flex: 1;
            max-width: 550px;
            width: 100%;
            display:flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }
        .app__aboutMe-photo {
            flex: 1;
            max-width: 450px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}
